<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teaching.competition.review.mapper.ReviewObjectCertificateRefMapper">

    <resultMap type="com.teaching.competition.review.domain.ReviewObjectCertificateRef" id="ReviewObjectCertificateRefResult">
<id property="id" column="id"/>
<result property="activityId" column="activity_id"/>
<result property="roundId" column="round_id"/>
<result property="objectId" column="object_id"/>
<result property="certificateId" column="certificate_id"/>
<result property="certificateCode" column="certificate_code"/>
<result property="certificateType" column="certificate_type"/>
<result property="personId" column="person_id"/>
<result property="userId" column="user_id"/>
<result property="memberId" column="member_id"/>
<result property="memberName" column="member_name"/>
<result property="memberRole" column="member_role"/>
<result property="sourceModule" column="source_module"/>
<result property="sourceBizId" column="source_biz_id"/>
<result property="sourceTeamId" column="source_team_id"/>
<result property="sourceRegistrationId" column="source_registration_id"/>
<result property="validStatus" column="valid_status"/>
<result property="createBy" column="create_by"/>
<result property="createTime" column="create_time"/>
<result property="updateBy" column="update_by"/>
<result property="updateTime" column="update_time"/>
<result property="remark" column="remark"/>
<result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectReviewObjectCertificateRefVo">
        select id, activity_id, round_id, object_id, certificate_id, certificate_code, certificate_type, person_id, user_id, member_id, member_name, member_role, source_module, source_biz_id, source_team_id, source_registration_id, valid_status, create_by, create_time, update_by, update_time, remark, del_flag
        from review_object_certificate_ref
    </sql>

    <select id="selectById" parameterType="Long" resultMap="ReviewObjectCertificateRefResult">
        <include refid="selectReviewObjectCertificateRefVo"/>
        where id = #{id} and del_flag = '0'
    </select>

    <select id="selectList" parameterType="com.teaching.competition.review.domain.ReviewObjectCertificateRef" resultMap="ReviewObjectCertificateRefResult">
        <include refid="selectReviewObjectCertificateRefVo"/>
        <where>
    del_flag = '0'
    <if test="activityId != null">
        and activity_id = #{activityId}
    </if>
    <if test="roundId != null">
        and round_id = #{roundId}
    </if>
    <if test="objectId != null">
        and object_id = #{objectId}
    </if>
    <if test="certificateId != null and certificateId != ''">
        and certificate_id = #{certificateId}
    </if>
    <if test="certificateCode != null and certificateCode != ''">
        and certificate_code = #{certificateCode}
    </if>
    <if test="certificateType != null and certificateType != ''">
        and certificate_type = #{certificateType}
    </if>
    <if test="personId != null and personId != ''">
        and person_id = #{personId}
    </if>
    <if test="userId != null">
        and user_id = #{userId}
    </if>
    <if test="memberId != null">
        and member_id = #{memberId}
    </if>
    <if test="memberName != null and memberName != ''">
        and member_name like concat('%', #{memberName}, '%')
    </if>
    <if test="memberRole != null and memberRole != ''">
        and member_role = #{memberRole}
    </if>
    <if test="sourceModule != null and sourceModule != ''">
        and source_module = #{sourceModule}
    </if>
    <if test="sourceBizId != null and sourceBizId != ''">
        and source_biz_id = #{sourceBizId}
    </if>
    <if test="sourceTeamId != null and sourceTeamId != ''">
        and source_team_id = #{sourceTeamId}
    </if>
    <if test="sourceRegistrationId != null and sourceRegistrationId != ''">
        and source_registration_id = #{sourceRegistrationId}
    </if>
    <if test="validStatus != null and validStatus != ''">
        and valid_status = #{validStatus}
    </if>
        </where>
        order by id desc
    </select>

    <select id="selectResolveList" resultType="com.teaching.competition.review.vo.ReviewCertificateResolveVO">
        select o.id as objectId,
               o.object_code as objectCode,
               o.object_name as objectName,
               c.activity_id as activityId,
               o.submit_status as submitStatus,
               c.certificate_code as certificateCode,
               c.certificate_type as certificateType,
               c.member_name as memberName,
               c.member_role as memberRole,
               c.source_team_id as sourceTeamId,
               c.source_registration_id as sourceRegistrationId,
               c.valid_status as validStatus
        from review_object_certificate_ref c
        inner join review_object o on o.id = c.object_id and o.del_flag = '0'
        where c.activity_id = #{activityId}
          and c.certificate_code = #{certificateCode}
          and c.valid_status = 'VALID'
          and c.del_flag = '0'
        order by c.id desc
    </select>

    <insert id="insert" parameterType="com.teaching.competition.review.domain.ReviewObjectCertificateRef" useGeneratedKeys="true" keyProperty="id">
        insert into review_object_certificate_ref
        <trim prefix="(" suffix=")" suffixOverrides=",">
    <if test="activityId != null">activity_id,</if>
    <if test="roundId != null">round_id,</if>
    <if test="objectId != null">object_id,</if>
    <if test="certificateId != null">certificate_id,</if>
    <if test="certificateCode != null">certificate_code,</if>
    <if test="certificateType != null">certificate_type,</if>
    <if test="personId != null">person_id,</if>
    <if test="userId != null">user_id,</if>
    <if test="memberId != null">member_id,</if>
    <if test="memberName != null">member_name,</if>
    <if test="memberRole != null">member_role,</if>
    <if test="sourceModule != null">source_module,</if>
    <if test="sourceBizId != null">source_biz_id,</if>
    <if test="sourceTeamId != null">source_team_id,</if>
    <if test="sourceRegistrationId != null">source_registration_id,</if>
    <if test="validStatus != null">valid_status,</if>
    <if test="createBy != null">create_by,</if>
    <if test="createTime != null">create_time,</if>
    <if test="updateBy != null">update_by,</if>
    <if test="updateTime != null">update_time,</if>
    <if test="remark != null">remark,</if>
    <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
    <if test="activityId != null">#{activityId},</if>
    <if test="roundId != null">#{roundId},</if>
    <if test="objectId != null">#{objectId},</if>
    <if test="certificateId != null">#{certificateId},</if>
    <if test="certificateCode != null">#{certificateCode},</if>
    <if test="certificateType != null">#{certificateType},</if>
    <if test="personId != null">#{personId},</if>
    <if test="userId != null">#{userId},</if>
    <if test="memberId != null">#{memberId},</if>
    <if test="memberName != null">#{memberName},</if>
    <if test="memberRole != null">#{memberRole},</if>
    <if test="sourceModule != null">#{sourceModule},</if>
    <if test="sourceBizId != null">#{sourceBizId},</if>
    <if test="sourceTeamId != null">#{sourceTeamId},</if>
    <if test="sourceRegistrationId != null">#{sourceRegistrationId},</if>
    <if test="validStatus != null">#{validStatus},</if>
    <if test="createBy != null">#{createBy},</if>
    <if test="createTime != null">#{createTime},</if>
    <if test="updateBy != null">#{updateBy},</if>
    <if test="updateTime != null">#{updateTime},</if>
    <if test="remark != null">#{remark},</if>
    <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.teaching.competition.review.domain.ReviewObjectCertificateRef">
        update review_object_certificate_ref
        <set>
    <if test="activityId != null">activity_id = #{activityId},</if>
    <if test="roundId != null">round_id = #{roundId},</if>
    <if test="objectId != null">object_id = #{objectId},</if>
    <if test="certificateId != null">certificate_id = #{certificateId},</if>
    <if test="certificateCode != null">certificate_code = #{certificateCode},</if>
    <if test="certificateType != null">certificate_type = #{certificateType},</if>
    <if test="personId != null">person_id = #{personId},</if>
    <if test="userId != null">user_id = #{userId},</if>
    <if test="memberId != null">member_id = #{memberId},</if>
    <if test="memberName != null">member_name = #{memberName},</if>
    <if test="memberRole != null">member_role = #{memberRole},</if>
    <if test="sourceModule != null">source_module = #{sourceModule},</if>
    <if test="sourceBizId != null">source_biz_id = #{sourceBizId},</if>
    <if test="sourceTeamId != null">source_team_id = #{sourceTeamId},</if>
    <if test="sourceRegistrationId != null">source_registration_id = #{sourceRegistrationId},</if>
    <if test="validStatus != null">valid_status = #{validStatus},</if>
    <if test="updateBy != null">update_by = #{updateBy},</if>
    <if test="updateTime != null">update_time = #{updateTime},</if>
    <if test="remark != null">remark = #{remark},</if>
        </set>
        where id = #{id} and del_flag = '0'
    </update>

    <update id="deleteByIds">
        update review_object_certificate_ref
        set del_flag = '1', update_by = #{updateBy}, update_time = now()
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="invalidateByObjectId">
        update review_object_certificate_ref
        set valid_status = 'INVALID', update_by = #{updateBy}, update_time = now()
        where activity_id = #{activityId}
          and object_id = #{objectId}
          and valid_status = 'VALID'
          and del_flag = '0'
    </update>
</mapper>
