<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teaching.competition.review.mapper.ReviewActivityUserRoleMapper">

    <resultMap type="com.teaching.competition.review.domain.ReviewActivityUserRole" id="ReviewActivityUserRoleResult">
<id property="id" column="id"/>
<result property="activityId" column="activity_id"/>
<result property="userId" column="user_id"/>
<result property="roleType" column="role_type"/>
<result property="reviewerId" column="reviewer_id"/>
<result property="panelId" column="panel_id"/>
<result property="enabled" column="enabled"/>
<result property="createBy" column="create_by"/>
<result property="createTime" column="create_time"/>
<result property="updateBy" column="update_by"/>
<result property="updateTime" column="update_time"/>
<result property="remark" column="remark"/>
<result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectReviewActivityUserRoleVo">
        select id, activity_id, user_id, role_type, reviewer_id, panel_id, enabled, create_by, create_time, update_by, update_time, remark, del_flag
        from review_activity_user_role
    </sql>

    <select id="selectById" parameterType="Long" resultMap="ReviewActivityUserRoleResult">
        <include refid="selectReviewActivityUserRoleVo"/>
        where id = #{id} and del_flag = '0'
    </select>

    <select id="selectList" parameterType="com.teaching.competition.review.domain.ReviewActivityUserRole" resultMap="ReviewActivityUserRoleResult">
        <include refid="selectReviewActivityUserRoleVo"/>
        <where>
    del_flag = '0'
    <if test="activityId != null">
        and activity_id = #{activityId}
    </if>
    <if test="userId != null">
        and user_id = #{userId}
    </if>
    <if test="roleType != null and roleType != ''">
        and role_type = #{roleType}
    </if>
    <if test="reviewerId != null">
        and reviewer_id = #{reviewerId}
    </if>
    <if test="panelId != null">
        and panel_id = #{panelId}
    </if>
    <if test="enabled != null and enabled != ''">
        and enabled = #{enabled}
    </if>
        </where>
        order by id desc
    </select>

    <insert id="insert" parameterType="com.teaching.competition.review.domain.ReviewActivityUserRole" useGeneratedKeys="true" keyProperty="id">
        insert into review_activity_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
    <if test="activityId != null">activity_id,</if>
    <if test="userId != null">user_id,</if>
    <if test="roleType != null">role_type,</if>
    <if test="reviewerId != null">reviewer_id,</if>
    <if test="panelId != null">panel_id,</if>
    <if test="enabled != null">enabled,</if>
    <if test="createBy != null">create_by,</if>
    <if test="createTime != null">create_time,</if>
    <if test="updateBy != null">update_by,</if>
    <if test="updateTime != null">update_time,</if>
    <if test="remark != null">remark,</if>
    <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
    <if test="activityId != null">#{activityId},</if>
    <if test="userId != null">#{userId},</if>
    <if test="roleType != null">#{roleType},</if>
    <if test="reviewerId != null">#{reviewerId},</if>
    <if test="panelId != null">#{panelId},</if>
    <if test="enabled != null">#{enabled},</if>
    <if test="createBy != null">#{createBy},</if>
    <if test="createTime != null">#{createTime},</if>
    <if test="updateBy != null">#{updateBy},</if>
    <if test="updateTime != null">#{updateTime},</if>
    <if test="remark != null">#{remark},</if>
    <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.teaching.competition.review.domain.ReviewActivityUserRole">
        update review_activity_user_role
        <set>
    <if test="activityId != null">activity_id = #{activityId},</if>
    <if test="userId != null">user_id = #{userId},</if>
    <if test="roleType != null">role_type = #{roleType},</if>
    <if test="reviewerId != null">reviewer_id = #{reviewerId},</if>
    <if test="panelId != null">panel_id = #{panelId},</if>
    <if test="enabled != null">enabled = #{enabled},</if>
    <if test="updateBy != null">update_by = #{updateBy},</if>
    <if test="updateTime != null">update_time = #{updateTime},</if>
    <if test="remark != null">remark = #{remark},</if>
        </set>
        where id = #{id} and del_flag = '0'
    </update>

    <update id="deleteByIds">
        update review_activity_user_role
        set del_flag = '1', update_by = #{updateBy}, update_time = now()
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>
