<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teaching.competition.review.mapper.ReviewPanelMapper">

    <resultMap type="com.teaching.competition.review.domain.ReviewPanel" id="ReviewPanelResult">
<id property="id" column="id"/>
<result property="activityId" column="activity_id"/>
<result property="roundId" column="round_id"/>
<result property="panelName" column="panel_name"/>
<result property="panelCode" column="panel_code"/>
<result property="leaderUserId" column="leader_user_id"/>
<result property="secretaryUserId" column="secretary_user_id"/>
<result property="status" column="status"/>
<result property="createBy" column="create_by"/>
<result property="createTime" column="create_time"/>
<result property="updateBy" column="update_by"/>
<result property="updateTime" column="update_time"/>
<result property="remark" column="remark"/>
<result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectReviewPanelVo">
        select id, activity_id, round_id, panel_name, panel_code, leader_user_id, secretary_user_id, status, create_by, create_time, update_by, update_time, remark, del_flag
        from review_panel
    </sql>

    <select id="selectById" parameterType="Long" resultMap="ReviewPanelResult">
        <include refid="selectReviewPanelVo"/>
        where id = #{id} and del_flag = '0'
    </select>

    <select id="selectList" parameterType="com.teaching.competition.review.domain.ReviewPanel" resultMap="ReviewPanelResult">
        <include refid="selectReviewPanelVo"/>
        <where>
    del_flag = '0'
    <if test="activityId != null">
        and activity_id = #{activityId}
    </if>
    <if test="roundId != null">
        and round_id = #{roundId}
    </if>
    <if test="panelName != null and panelName != ''">
        and panel_name like concat('%', #{panelName}, '%')
    </if>
    <if test="panelCode != null and panelCode != ''">
        and panel_code = #{panelCode}
    </if>
    <if test="leaderUserId != null">
        and leader_user_id = #{leaderUserId}
    </if>
    <if test="secretaryUserId != null">
        and secretary_user_id = #{secretaryUserId}
    </if>
    <if test="status != null and status != ''">
        and status = #{status}
    </if>
        </where>
        order by id desc
    </select>

    <insert id="insert" parameterType="com.teaching.competition.review.domain.ReviewPanel" useGeneratedKeys="true" keyProperty="id">
        insert into review_panel
        <trim prefix="(" suffix=")" suffixOverrides=",">
    <if test="activityId != null">activity_id,</if>
    <if test="roundId != null">round_id,</if>
    <if test="panelName != null">panel_name,</if>
    <if test="panelCode != null">panel_code,</if>
    <if test="leaderUserId != null">leader_user_id,</if>
    <if test="secretaryUserId != null">secretary_user_id,</if>
    <if test="status != null">status,</if>
    <if test="createBy != null">create_by,</if>
    <if test="createTime != null">create_time,</if>
    <if test="updateBy != null">update_by,</if>
    <if test="updateTime != null">update_time,</if>
    <if test="remark != null">remark,</if>
    <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
    <if test="activityId != null">#{activityId},</if>
    <if test="roundId != null">#{roundId},</if>
    <if test="panelName != null">#{panelName},</if>
    <if test="panelCode != null">#{panelCode},</if>
    <if test="leaderUserId != null">#{leaderUserId},</if>
    <if test="secretaryUserId != null">#{secretaryUserId},</if>
    <if test="status != null">#{status},</if>
    <if test="createBy != null">#{createBy},</if>
    <if test="createTime != null">#{createTime},</if>
    <if test="updateBy != null">#{updateBy},</if>
    <if test="updateTime != null">#{updateTime},</if>
    <if test="remark != null">#{remark},</if>
    <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.teaching.competition.review.domain.ReviewPanel">
        update review_panel
        <set>
    <if test="activityId != null">activity_id = #{activityId},</if>
    <if test="roundId != null">round_id = #{roundId},</if>
    <if test="panelName != null">panel_name = #{panelName},</if>
    <if test="panelCode != null">panel_code = #{panelCode},</if>
    <if test="leaderUserId != null">leader_user_id = #{leaderUserId},</if>
    <if test="secretaryUserId != null">secretary_user_id = #{secretaryUserId},</if>
    <if test="status != null">status = #{status},</if>
    <if test="updateBy != null">update_by = #{updateBy},</if>
    <if test="updateTime != null">update_time = #{updateTime},</if>
    <if test="remark != null">remark = #{remark},</if>
        </set>
        where id = #{id} and del_flag = '0'
    </update>

    <update id="deleteByIds">
        update review_panel
        set del_flag = '1', update_by = #{updateBy}, update_time = now()
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>
