<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teaching.competition.review.mapper.ReviewSessionObjectMapper">

    <resultMap type="com.teaching.competition.review.domain.ReviewSessionObject" id="ReviewSessionObjectResult">
<id property="id" column="id"/>
<result property="activityId" column="activity_id"/>
<result property="roundId" column="round_id"/>
<result property="sessionId" column="session_id"/>
<result property="objectId" column="object_id"/>
<result property="sequenceNo" column="sequence_no"/>
<result property="checkinStatus" column="checkin_status"/>
<result property="reviewStatus" column="review_status"/>
<result property="actualStartTime" column="actual_start_time"/>
<result property="actualEndTime" column="actual_end_time"/>
<result property="secretaryNote" column="secretary_note"/>
<result property="createBy" column="create_by"/>
<result property="createTime" column="create_time"/>
<result property="updateBy" column="update_by"/>
<result property="updateTime" column="update_time"/>
<result property="remark" column="remark"/>
<result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectReviewSessionObjectVo">
        select id, activity_id, round_id, session_id, object_id, sequence_no, checkin_status, review_status, actual_start_time, actual_end_time, secretary_note, create_by, create_time, update_by, update_time, remark, del_flag
        from review_session_object
    </sql>

    <select id="selectById" parameterType="Long" resultMap="ReviewSessionObjectResult">
        <include refid="selectReviewSessionObjectVo"/>
        where id = #{id} and del_flag = '0'
    </select>

    <select id="selectList" parameterType="com.teaching.competition.review.domain.ReviewSessionObject" resultMap="ReviewSessionObjectResult">
        <include refid="selectReviewSessionObjectVo"/>
        <where>
    del_flag = '0'
    <if test="activityId != null">
        and activity_id = #{activityId}
    </if>
    <if test="roundId != null">
        and round_id = #{roundId}
    </if>
    <if test="sessionId != null">
        and session_id = #{sessionId}
    </if>
    <if test="objectId != null">
        and object_id = #{objectId}
    </if>
    <if test="sequenceNo != null">
        and sequence_no = #{sequenceNo}
    </if>
    <if test="checkinStatus != null and checkinStatus != ''">
        and checkin_status = #{checkinStatus}
    </if>
    <if test="reviewStatus != null and reviewStatus != ''">
        and review_status = #{reviewStatus}
    </if>
    <if test="actualStartTime != null">
        and actual_start_time = #{actualStartTime}
    </if>
    <if test="actualEndTime != null">
        and actual_end_time = #{actualEndTime}
    </if>
    <if test="secretaryNote != null and secretaryNote != ''">
        and secretary_note = #{secretaryNote}
    </if>
        </where>
        order by id desc
    </select>

    <insert id="insert" parameterType="com.teaching.competition.review.domain.ReviewSessionObject" useGeneratedKeys="true" keyProperty="id">
        insert into review_session_object
        <trim prefix="(" suffix=")" suffixOverrides=",">
    <if test="activityId != null">activity_id,</if>
    <if test="roundId != null">round_id,</if>
    <if test="sessionId != null">session_id,</if>
    <if test="objectId != null">object_id,</if>
    <if test="sequenceNo != null">sequence_no,</if>
    <if test="checkinStatus != null">checkin_status,</if>
    <if test="reviewStatus != null">review_status,</if>
    <if test="actualStartTime != null">actual_start_time,</if>
    <if test="actualEndTime != null">actual_end_time,</if>
    <if test="secretaryNote != null">secretary_note,</if>
    <if test="createBy != null">create_by,</if>
    <if test="createTime != null">create_time,</if>
    <if test="updateBy != null">update_by,</if>
    <if test="updateTime != null">update_time,</if>
    <if test="remark != null">remark,</if>
    <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
    <if test="activityId != null">#{activityId},</if>
    <if test="roundId != null">#{roundId},</if>
    <if test="sessionId != null">#{sessionId},</if>
    <if test="objectId != null">#{objectId},</if>
    <if test="sequenceNo != null">#{sequenceNo},</if>
    <if test="checkinStatus != null">#{checkinStatus},</if>
    <if test="reviewStatus != null">#{reviewStatus},</if>
    <if test="actualStartTime != null">#{actualStartTime},</if>
    <if test="actualEndTime != null">#{actualEndTime},</if>
    <if test="secretaryNote != null">#{secretaryNote},</if>
    <if test="createBy != null">#{createBy},</if>
    <if test="createTime != null">#{createTime},</if>
    <if test="updateBy != null">#{updateBy},</if>
    <if test="updateTime != null">#{updateTime},</if>
    <if test="remark != null">#{remark},</if>
    <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.teaching.competition.review.domain.ReviewSessionObject">
        update review_session_object
        <set>
    <if test="activityId != null">activity_id = #{activityId},</if>
    <if test="roundId != null">round_id = #{roundId},</if>
    <if test="sessionId != null">session_id = #{sessionId},</if>
    <if test="objectId != null">object_id = #{objectId},</if>
    <if test="sequenceNo != null">sequence_no = #{sequenceNo},</if>
    <if test="checkinStatus != null">checkin_status = #{checkinStatus},</if>
    <if test="reviewStatus != null">review_status = #{reviewStatus},</if>
    <if test="actualStartTime != null">actual_start_time = #{actualStartTime},</if>
    <if test="actualEndTime != null">actual_end_time = #{actualEndTime},</if>
    <if test="secretaryNote != null">secretary_note = #{secretaryNote},</if>
    <if test="updateBy != null">update_by = #{updateBy},</if>
    <if test="updateTime != null">update_time = #{updateTime},</if>
    <if test="remark != null">remark = #{remark},</if>
        </set>
        where id = #{id} and del_flag = '0'
    </update>

    <update id="deleteByIds">
        update review_session_object
        set del_flag = '1', update_by = #{updateBy}, update_time = now()
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>
