<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teaching.competition.mapper.CompetitionEnterpriseRelaMapper">
    
    <resultMap type="com.teaching.system.api.domain.CompetitionEnterpriseRela" id="CompetitionEnterpriseRelaResult">
        <result property="relaId"    column="rela_id"    />
        <result property="competitionSeriesId"    column="competition_series_id"    />
        <result property="competitionTrackConfigId"    column="competition_track_config_id"    />
        <result property="enterpriseId"    column="enterprise_id"    />
        <result property="enterpriseName"    column="enterprise_name"    />
        <result property="coptEndTime"    column="copt_end_time"    />
        <result property="coptStartTime"    column="copt_start_time"    />
        <result property="spopAmount"    column="spop_amount"    />
        <result property="cooperationType"    column="cooperation_type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="version"    column="version"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="userId"    column="user_id"    />
        <result property="orgId"    column="org_id"    />
    </resultMap>

    <sql id="selectCompetitionEnterpriseRelaVo">
        select rela_id, competition_series_id, competition_track_config_id,enterprise_id, copt_end_time, copt_start_time, spop_amount, cooperation_type, create_by, create_time, update_by, update_time, version, del_flag, user_id, org_id from competition_enterprise_rela
    </sql>

    <select id="selectCompetitionEnterpriseRelaList" parameterType="Long" resultMap="CompetitionEnterpriseRelaResult">
        select a.rela_id, a.competition_series_id, a.competition_track_config_id,a.enterprise_id, b.enterprise_name,a.copt_end_time, a.copt_start_time, a.spop_amount,
        a.cooperation_type, a.create_by, a.create_time, a.update_by, a.update_time, a.version, a.del_flag, a.user_id, a.org_id
        from competition_enterprise_rela a
        left join sponsoring_enterprise_info b on a.enterprise_id = b.enterprise_id
        where a.del_flag = '0'
            <if test="competitionSeriesId != null "> and a.competition_series_id = #{competitionSeriesId}</if>
    </select>
    
    <select id="selectCompetitionEnterpriseRelaByRelaId" parameterType="Long" resultMap="CompetitionEnterpriseRelaResult">
        <include refid="selectCompetitionEnterpriseRelaVo"/>
        where rela_id = #{relaId} and del_flag = '0'
    </select>

    <insert id="insertCompetitionEnterpriseRela">
            insert into competition_enterprise_rela
            (rela_id,competition_series_id,competition_track_config_id,enterprise_id,copt_end_time,copt_start_time,spop_amount,cooperation_type,
            create_by,create_time,version,del_flag,user_id,org_id)
        values
        <foreach collection="enterpriseRelaList" item="item" index="index" separator=",">
            (#{item.relaId},#{item.competitionSeriesId},#{item.competitionTrackConfigId},#{item.enterpriseId},#{item.coptEndTime},#{item.coptStartTime},#{item.spopAmount},
            #{item.cooperationType},#{item.createBy},#{item.createTime},#{item.version},#{item.delFlag},#{item.userId},#{item.orgId})
        </foreach>
    </insert>

    <update id="updateCompetitionEnterpriseRela" parameterType="com.teaching.system.api.domain.CompetitionEnterpriseRela">
        update competition_enterprise_rela
        <trim prefix="SET" suffixOverrides=",">
            <if test="competitionSeriesId != null">competition_series_id = #{competitionSeriesId},</if>
            <if test="competitionTrackConfigId != null">competition_track_config_id = #{competitionTrackConfigId},</if>
            <if test="enterpriseId != null">enterprise_id = #{enterpriseId},</if>
            <if test="coptEndTime != null">copt_end_time = #{coptEndTime},</if>
            <if test="coptStartTime != null">copt_start_time = #{coptStartTime},</if>
            <if test="spopAmount != null">spop_amount = #{spopAmount},</if>
            <if test="cooperationType != null">cooperation_type = #{cooperationType},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            version = version+1,
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="orgId != null">org_id = #{orgId},</if>
        </trim>
        where rela_id = #{relaId} and competition_series_id = #{competitionSeriesId}
    </update>

    <update id="batchUpdateCompetitionEnterpriseRela">
        update competition_enterprise_rela
        <set>
            <if test="list[0].enterpriseId!=null">
                enterprise_id = CASE
                <foreach collection="list" item="item">
                    WHEN rela_id = #{item.relaId} THEN #{item.enterpriseId}
                </foreach>
                ELSE enterprise_id
                END,
            </if>
            <if test="list[0].coptEndTime!=null">
                copt_end_time = CASE
                <foreach collection="list" item="item">
                    WHEN rela_id = #{item.relaId} THEN #{item.coptEndTime}
                </foreach>
                ELSE copt_end_time
                END,
            </if>
            <if test="list[0].coptStartTime!=null">
                copt_start_time = CASE
                <foreach collection="list" item="item">
                    WHEN rela_id = #{item.relaId} THEN #{item.coptStartTime}
                </foreach>
                ELSE copt_start_time
                END,
            </if>
            <if test="list[0].spopAmount!=null">
                spop_amount = CASE
                <foreach collection="list" item="item">
                    WHEN rela_id = #{item.relaId} THEN #{item.spopAmount}
                </foreach>
                ELSE spop_amount
                END,
            </if>
            <if test="list[0].cooperationType!=null">
                cooperation_type = CASE
                <foreach collection="list" item="item">
                    WHEN rela_id = #{item.relaId} THEN #{item.cooperationType}
                </foreach>
                ELSE cooperation_type
                END,
            </if>
            update_time = NOW(),
            version = version + 1
        </set>
        WHERE rela_id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.relaId}
        </foreach>
    </update>

    <delete id="deleteCompetitionEnterpriseRelaBySeriesId" parameterType="Long">
        update competition_enterprise_rela set del_flag = '1',update_time = now(),version = version+1 where competition_series_id = #{competitionSeriesId}
    </delete>

    <delete id="deleteCompetitionEnterpriseRelaByRelaIds" parameterType="String">
        update competition_enterprise_rela set del_flag = '1',update_time = now(),version = version+1  where competition_series_id in
        <foreach item="competitionSeriesId" collection="array" open="(" separator="," close=")">
            #{competitionSeriesId}
        </foreach>
    </delete>

    <delete id="deleteCompetitionEnterpriseRelaByConfigIds" parameterType="String">
        update competition_enterprise_rela set del_flag = '1',update_time = now(),version = version+1  where competition_track_config_id in
        <foreach item="competitionTrackConfigId" collection="array" open="(" separator="," close=")">
            #{competitionTrackConfigId}
        </foreach>
    </delete>
</mapper>