<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teaching.competition.mapper.OperationTimesMapper">

    <resultMap type="OperationTimes" id="OperationTimesResult">
        <result property="id"    column="id"    />
        <result property="teamCode"    column="team_code"    />
        <result property="memberId"    column="member_id"    />
        <result property="usedTimes"    column="used_times"    />
        <result property="configId"    column="config_id"    />
        <result property="lastOperationTime"    column="last_operation_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="operationType"    column="operation_type"    />
    </resultMap>

    <sql id="selectOperationTimesVo">
        select id, team_code, member_id, used_times, config_id, last_operation_time, create_time, update_time,operation_type from operation_times
    </sql>

    <select id="selectOperationTimesList" parameterType="OperationTimes" resultMap="OperationTimesResult">
        <include refid="selectOperationTimesVo"/>
        <where>
            <if test="teamCode != null  and teamCode != ''">and team_code = #{teamCode}</if>
            <if test="memberId != null ">and member_id = #{memberId}</if>
            <if test="usedTimes != null ">and used_times = #{usedTimes}</if>
            <if test="configId != null ">and config_id = #{configId}</if>
            <if test="lastOperationTime != null ">and last_operation_time = #{lastOperationTime}</if>
            <if test="operationType != null ">and operation_type = #{operationType}</if>
        </where>
    </select>

    <select id="selectOperationTimesById" parameterType="Long" resultMap="OperationTimesResult">
        <include refid="selectOperationTimesVo"/>
        where id = #{id}
    </select>

    <select id="selectOperationTimesByConfigId"  resultMap="OperationTimesResult">
        <include refid="selectOperationTimesVo"/>
        where config_id = #{configId} and team_code = #{teamCode}
    </select>

    <select id="selectOperationTimesByTeamCode"  resultMap="OperationTimesResult">
        <include refid="selectOperationTimesVo"/>
        where  team_code = #{teamCode}
    </select>

    <select id="selectOperationTimesByTeamCodeAndOperationType" parameterType="OperationTimes" resultMap="OperationTimesResult">
        <include refid="selectOperationTimesVo"/>
        <where>
            <if test="teamCode != null  and teamCode != ''">and team_code = #{teamCode}</if>
            <if test="operationType != null ">and operation_type = #{operationType}</if>
        </where>
    </select>

    <insert id="insertOperationTimes" parameterType="OperationTimes" useGeneratedKeys="true" keyProperty="id">
        insert into operation_times
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teamCode != null and teamCode != ''">team_code,</if>
            <if test="memberId != null">member_id,</if>
            <if test="usedTimes != null">used_times,</if>
            <if test="configId != null">config_id,</if>
            <if test="lastOperationTime != null">last_operation_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="operationType != null">operation_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teamCode != null and teamCode != ''">#{teamCode},</if>
            <if test="memberId != null">#{memberId},</if>
            <if test="usedTimes != null">#{usedTimes},</if>
            <if test="configId != null">#{configId},</if>
            <if test="lastOperationTime != null">#{lastOperationTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="operationType != null">#{operationType},</if>
         </trim>
    </insert>

    <update id="updateOperationTimes" parameterType="OperationTimes">
        update operation_times
        <trim prefix="SET" suffixOverrides=",">
            <if test="teamCode != null and teamCode != ''">team_code = #{teamCode},</if>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="usedTimes != null">used_times = #{usedTimes},</if>
            <if test="configId != null">config_id = #{configId},</if>
            <if test="lastOperationTime != null">last_operation_time = #{lastOperationTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="operationType != null">operation_type = #{operationType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOperationTimesById" parameterType="Long">
        delete from operation_times where id = #{id}
    </delete>

    <delete id="deleteOperationTimesByIds" parameterType="String">
        delete from operation_times where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
